<div style="padding: 25px">
	<div class="container">
		<h1>Out of State Provider List</h1>
		<p>Level 3 Professional</p>
		<p>Add Providers by entering either NPI or Tax ID, or importing
			from excel</p>
		<p>
			Showing <b>{{totalRecords}}</b> of <b>{{totalRecords}}</b> Providers
		</p>
		<div>
			<data-table-demo-2></data-table-demo-2>
		</div>
		<div>
			<a href="#">Import from excel</a>
		</div>
		<div class="clearfix">
			<button type="button"
				onclick="document.getElementById('id01').style.display='none'"
				class="cancelbtn">Cancel</button>
			<button type="submit" class="signupbtn">Sign Up</button>
		</div>
	</div>
</div>
